# exclude development files
secrets/api_key.json
secrets/azure_key.json
secrets/kafka_key.json
data/*

# exclude terraform files
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform
.terraform.lock.hcl

# exclude personal files
.vscode