# exclude development files
secret/api_key.json
secret/azure_key.json
secret/kafka_key.json
data/*

# exclude terraform files
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform
.terraform.lock.hcl

# exclude personal files
.vscode